@CHARSET "UTF-8";

.account-box{
    display: flex;
    /*announce == lab*/
    /*padding-top: 50px;*/
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    /*margin-top: 50px;*/
    margin-bottom: 50px;
    min-height: 100vh;
}

.account-title {
    margin-top: -200px;
    margin-left: -380px;
    /*padding-bottom: 24px;*/

    font-size: 30px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -0.5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(245, 245, 245);
}

.account-real-title {
    margin-top: -200px;
    margin-bottom: 280px;
    /*margin-left: 680px;*/
    font-size: 40px;
    font-weight: 600;
}

.account-second-box {
    display: flex;
    /*announce == lab*/
    /*padding-top: 50px;*/
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    /*justify-content: center;*/
    margin-left: 200px;
    margin-right: 200px;
    /*margin-top: 50px;*/
    margin-bottom: 50px;
    min-height: 100vh;
}


.account-title {
    margin-top: -200px;
    margin-left: -350px;
    padding-bottom: 24px;

    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -0.5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(245, 245, 245);
}

.account-long-title {
    padding-top: 50px;
    margin-left: -330px;
    /*padding-bottom: 24px;*/

    font-size: 25px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -0.5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(245, 245, 245);
}
.account-sub-title {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    /*!*line-height: px;*!*/
    /*letter-spacing: -0.5px;*/
    /*border-bottom-width: 1px;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-color: rgb(245, 245, 245);*/
}
.account-input-box {
    width: 460px;
    height: 44px;
    /*padding-top: 10px;*/
    padding-right: 16px;
    padding-left: 10px;
    color: rgb(34, 34, 34);
    font-size: 14px;
    line-height: 24px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(237, 237, 237);
}
.account-mt-8 {
    padding-top: 80px;
}
.account-mb-2{
    margin-bottom: 20px;
}
.account-button {
    width: 100%;
}
.account-center{
    text-align: center;
}
.account-radio-btn{
    border: 3px solid #1a1a1a;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

@media ( max-width: 800px ) {
    .account-box{
        margin: 0px;
    }
}
input[type=radio].toggle {
    display: none;
}
input[type=radio].toggle + label {
    cursor: pointer;
    min-width: 49.9%;
    border-color: rgb(93,100,100);
}
input[type=radio].toggle + label:hover {
    background: none;
    color: rgb(93,95,100);
}
input[type=radio].toggle + label:after {
    background: rgb(93,95,100);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
}
input[type=radio].toggle.toggle-left + label {
    border-right: 0;
}
input[type=radio].toggle.toggle-left + label:after {
    left: 100%;
}
input[type=radio].toggle.toggle-right + label {
    margin-left: -5px;
}
input[type=radio].toggle.toggle-right + label:after {
    left: -100%;
}
input[type=radio].toggle:checked + label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
}
input[type=radio].toggle:checked + label:after {
    left: 0;
}