@CHARSET "UTF-8";

.header-nav-height-4 {
    height: 40px;
}

.header-nav-button {
    border: 0;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
}

.header-nav-p {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(93,100,100);
    margin-top: 8px;
}

.header-title {
    font-size: 50px;
    font-weight: 1000;
}

